.questionContainer {
  margin: 20px 0px;
  padding: 15px;
  background-color: #f9f9f9;
  border-radius: 8px;
}

.questionText {
  font-size: 18px;
  color: #333;
}

.optionContainer {
  margin-top: 10px;
}

.label {
  display: block;
  margin-bottom: 8px;
  font-size: 16px;
  color: #555;
  cursor: pointer;
}

.input {
  margin-right: 10px;
  cursor: pointer;
}
