.questionContainer {
  margin: 20px 0px;
  padding: 10px;
  background-color: #d2d2d2;
  border-radius: 8px;
}

.questionText {
  font-size: 16px;
  color: #333;
}

.optionContainer {
  margin-top: 10px;
}

.label {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  color: #555;
  cursor: pointer;
}

.input {
  margin-right: 10px;
  cursor: pointer;
}

.submitButton {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submitButton:hover {
  background-color: #45a049;
}